@import 'tailwindcss';

@theme {
  --font-sans: var(--font-geist-sans), 'Geist Fallback';
  --font-mono: var(--font-geist-mono), 'Geist Mono Fallback';
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    @apply bg-slate-950 text-white;
  }
  
  html {
    @apply font-sans scroll-smooth;
    color-scheme: dark;
  }
}

@layer components {
  .glass {
    @apply bg-white/10 backdrop-blur-md;
  }
}
